<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="t1000"
          class="org.example.impls.robot.ModelT1000">
            <constructor-arg ref="sonyHead" />
            <constructor-arg ref="sonyHand" />
            <constructor-arg ref="sonyLeg" />

<!--        <constructor-arg ref="toshibaHead"/>-->
<!--        <constructor-arg ref="toshibaHand"/>-->
<!--        <constructor-arg ref="toshibaLeg"/>-->
    </bean>

    <bean id="sonyHead" class="org.example.impls.sony.SonyHead"/>
    <bean id="sonyHand" class="org.example.impls.sony.SonyHand"/>
    <bean id="sonyLeg" class="org.example.impls.sony.SonyLeg"/>

    <bean id="toshibaHead" class="org.example.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaHand" class="org.example.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaLeg" class="org.example.impls.toshiba.ToshibaLeg"/>


</beans>